{% extends 'baseBack.html.twig' %}

{% block title %}Nos Articles{% endblock %}

{% block body %}
 <!-- input tag -->
    <input id="searchbar" onkeyup="!" type="text"
           name="search" placeholder="Search ..">
    <h1>Nos Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Marque</th>
                <th>Prix unité</th>
                <th>Stock</th>
                <th>Genre</th>
                <th>Description</th>
                 <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.marque }}</td>
                <td>{{ produit.prix }} DT</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.genre }}</td>
                <td>{{ produit.description }}</td>
                <td><img src="{{ asset('/uploads/images/produits/' ~ produit.image) }}" width="100px" height="100px" alt="{{produit.image}}"></td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
      
{% endblock %}
