{% extends 'base1user.html.twig' %}

{% block body %}
	<section id="hero" class="d-flex align-items-center">

		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
					<h1>connectez vous</h1>
					<h2>interface d'authentification de GoAcademie</h2>
					<div
						class="d-flex justify-content-center justify-content-lg-start">
						{# <a href="#about" class="btn-get-started scrollto">Get Started</a> #}
						<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video">{# <i class="bi bi-play-circle"></i> #}
							{# <span>Watch Video</span> #}
						</a>
					</div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
					<img src="{{asset('assets/img/join.jpg')}}" class="img-fluid animated" alt="">
				</div>
			</div>
		</div>

	</section>
	<h1>Se connecter</h1>

	{% if error %}
		<div class="alert alert-danger">{{ error }}</div>
	{% endif %}

	<form method="post">
		<div class="form-group">
			<label for="email">Email :</label>
			<input type="email" id="email" name="_username" class="form-control" value="{{ last_email }}">
		</div>

		<div class="form-group">
			<label for="password">Mot de passe :</label>
			<input type="password" id="password" name="_password" class="form-control">
		</div>
		<br/>
		<center>
			<button type="submit" class="btn btn-primary">Se connecter</button><br/>
			<a href="{{ path('app_create') }}">s'Enregistrer</a>
			<br/>
			<a href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>

		</center>
	</form>
{% endblock %}
