<form method="get">
    {{ form_start(form) }}

    {{ form_widget(form.Nom) }}
    {{ form_widget(form.Etat) }}
    {{ form_widget(form.Genre) }}

<button type="submit" class="btn btn-primary" style="width: 150px; margin-left: auto; margin-right: auto">Create!</button>

    {{ form_end(form) }}
</form>