{% extends "baseBo.html.twig" %}
{% block content %}
	<html lang="en">
		<link href="/test/ff.css" rel="stylesheet">
		<head>
			<title>Calendar 09</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

			<link rel="stylesheet" href="/css/cssCA/style.css">
			<link rel="stylesheet" href="/css/cssCA/bootstrap-datetimepicker.min.css">
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<link href="/test/ff.css" rel="stylesheet">
			<script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">

		</head>
		<div style="display: flex; flex-direction: row; flex-wrap: nowrap; width:100%;">
			{{ form_start(form,{'attr':{'novalidate':'novalidate', 'style':"display: flex; flex-direction: column; margin-left: 50px; width: 30%"}}) }}
			<div style="display: flex; align-items: center;">
				{{form_label(form.Nom,"Nom")}}
				{{ form_widget(form.Nom, {'attr':{'class':'form-control', 'style':"margin-left: 10px; margin-bottom: 10px ; border-radius: 30px;"}}) }}
			</div>
			{{ form_errors(form.Nom) }}


			<div
				class="form-group" "datepickers" "form-control" >

				<!-- <label class="label-control" for="id_start_datetime">Datetime picker</label> -->
				<div class="input-group date" id="id_0" style="display: flex; align-items: center; ">
					{{form_label(form.Date,"Date")}}
					{{ form_widget(form.Date,{'attr':{'class':'form-control', 'style':"margin-left: 10px; margin-bottom: 10px; border-radius: 30px;"}}) }}
				</div>


				<div class="input-group date" id="id_0" style="display: flex; align-items: center;">
					{{form_label(form.etat,"Etat")}}
					{{ form_widget(form.etat, {'attr':{'class':'form-control', 'style':"margin-left: 15px; margin-bottom: 10px; border-radius: 30px;"}}) }}
					{{ form_errors(form.etat) }}
				</div>
			</div>


			{{ form_errors(form.Date)}}
			<div style="display: flex; flex-direction: column;">
				{{form_label(form.equipes,"Equipes")}}
				{{ form_widget(form.equipes,{'attr':{'class':'form-control','style':'width: 290px;margin-left: 45px;border-radius: 20px ' } }) }}
				{{ form_errors(form.equipes) }}
			</div>

			<div style="display: flex; flex-direction: column;">
				{{form_label(form.arena,"Arena")}}
				{{ form_widget(form.arena,{'attr':{'class':'form-control','style':'width: 290px;margin-left: 45px;border-radius: 30px; width: 100 px;' } }) }}
				{{ form_errors(form.arena) }}
			</div>
            <div style="display: flex; flex-direction: column;">
				{{form_label(form.winner,"Equipe gagnant")}}
				{{ form_widget(form.winner,{'attr':{'class':'form-control','style':'width: 290px;margin-left: 45px;border-radius: 30px; width: 100 px;' } }) }}
				{{ form_errors(form.winner) }}
			</div>

			<br>
			<button type="submit" class="btn btn-primary" style="width: 150px; margin-left: auto; margin-right: auto">Create!</button>
			{{ form_end(form) }}
			<div class="main-content equipesGrid" style="width: 70%;">
				<div
					class="container">
					<!-- Table -->
					<div class="col">
						<div class="card shadow">
							<div class="card-header border-0">
								<h3 class="mb-0">Liste d'equipes</h3>
							</div>
							<div class="table-responsive">
								<table class="table align-items-center table-flush">
									<thead class="thead-light">
										<tr>
											<th scope="col">Equipes</th>
											<th scope="col">Id</th>
										</tr>
									</thead>
									<tbody class="equipeGridContent">

										<tr></tr>
									</tbody>
								</table>
							</div>
						</div>

						<script src="/js/jsCA/jquery.min.js"></script>
						<script src="/js/jsCA/popper.js"></script>
						<script src="/js/jsCA/bootstrap.min.js"></script>
						<script src="/js/jsCA/moment-with-locales.min.js"></script>
						<script src="/js/jsCA/bootstrap-datetimepicker.min.js"></script>
						<script src="/js/jsCA/main.js"></script>
						<script src="/js/tableHandler/tableHandler.js"></script>
						<script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/jquery/dist/jquery.min.js"></script>
						<script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

					</body>
				</html>
			{% endblock %}
