{% extends 'baseBack.html.twig' %}

{% block title %}Commande index
{% endblock %}

{% block body %}
	<h1>Les commandes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Produit</th>
				<th>Nombre Produit</th>
				<th>Prix unité</th>
				<th>Prix Total</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				<tr>
					<td>{{ commande.id }}</td>
					<td>{{ commande.produit.reference }}</td>
					<td>{{ commande.nombreProduit }}</td>
					<td>{{ commande.produit.prix }}
						DT</td>
					<td>{{ commande.prixTotal }}
						DT</td>
					<td>
						<a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
