
{% block body %}


<h1>{{title}}</h1>
     <table class="table table-striped custab" style="  border: 1px solid">
    <thead style="  border: 1px solid" >
   
            <th>joueur</th>
            <th>competition</th>
            <th> Apps</th>
              <th>Mins</th>
               <th>Buts</th>
        <th>points decisives</th>
        <th>Jaune</th>
        <th>Rouge</th>
        <th>tpm</th>
        <th>pr</th>
        <th>AG</th>
         <th>hddm</th>
          <th>note</th>
            
       
        </tr>
    </thead>
      {% for per in listP %}
             <tr >
      <td style="  border: 1px solid">{{ per.joueurP.getNom() }}</td>
        <td style="  border: 1px solid">{{ per.competitionP.getNom()}}</td>
        <td style="  border: 1px solid">{{ per.Apps}}</td>
         <td style="  border: 1px solid">{{ per.Mins}}</td>
          <td style="  border: 1px solid">{{ per.Buts}}</td>
           <td style="  border: 1px solid">{{ per.PointsDecisives}}</td>
            <td style="  border: 1px solid">{{ per.Jaune}}</td>
             <td style="  border: 1px solid">{{ per.Rouge}}</td>
              <td style="  border: 1px solid">{{ per.TpM}}</td>
                <td style="  border: 1px solid">{{ per.Pr}}</td>
               <td style="  border: 1px solid">{{ per.AeriensG}}</td>
                 <td style="  border: 1px solid">{{per.HdM}}</td>
                <td style="  border: 1px solid">{{ per.Note}}</td>
                  
                  
        </tr>
                
    {% endfor %}

            
    </table>
   

            
    </div>


</div>

    {% endblock %}
