{% extends 'baseback.html.twig' %}

{% block title %}COURSSSSSSSS{% endblock %}

{% block body %}
{{ form_start(form) }}
<table>
 <tr>
               
                <td>{{form_label(form.Nom,"Nom de cours") }} </td> 
                <td>{{form_widget(form.Nom) }} </td> 
		<td>{{form_errors(form.Nom) }} </td> 
            </tr>  
 <tr>
          
                <td>{{form_label(form.seance," date de seance") }} </td> 
                <td>{{form_widget(form.seance) }} </td> 
		<td>{{form_errors(form.seance) }} </td> 
            </tr>  
 <tr>
          
                <td>{{form_label(form.duree,"duree") }} </td> 
                <td>{{form_widget(form.duree) }} </td> 
		<td>{{form_errors(form.duree) }} </td> 
            </tr>  
 <tr>
          
                <td>{{form_label(form.arenna,"Terrain") }} </td> 
                <td>{{form_widget(form.arenna) }} </td> 
		<td>{{form_errors(form.arenna) }} </td> 
            </tr> 
          <tr>
          
                <td>{{form_label(form.equipex,"Nom d'équipe") }} </td> 
                <td>{{form_widget(form.equipex) }} </td> 
		<td>{{form_errors(form.equipex) }} </td> 
            </tr> 
			</table>

			<tr>
              
                <td>{{form_widget(form.Enregistrer) }} </td> 
				
            </tr>  


{{ form_end(form) }}
{% endblock %}